{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen p-1 md:p-10 bg-neutral-50">

    <div class="max-w-7xl mx-auto rounded-xl bg-neutral-100 border border-slate-300 shadow-sm p-5">

        <!-- TÍTULO -->
        <div class="mb-6 flex flex-wrap items-center gap-4">
            <div class="mb-6">
            <h1 class="text-2xl font-primary text-slate-900">
                Orden de Trabajo – N° ODT {{ odt.n_odt|stringformat:"03d" }}
            </h1>
            <p class="text-md text-slate-600">
                Correlativo: {{ odt.correlativo|stringformat:"03d" }} ·
                Creado el {{ odt.creado_en|date:"d/m/Y" }}
            </p>
            
            </div>
            <div class="flex flex-wrap gap-3 mb-6">
                <span class="px-3 py-1 text-sm font-semibold rounded-full border border-slate-400 bg-slate-800 text-white">
                    Estado: {{ odt.get_estado_display }}
                </span>
                <span class="px-3 py-1 text-sm font-semibold rounded-full border border-slate-400 bg-slate-800 text-white">
                    Prioridad: {{ odt.get_prioridad_display }}
                </span>
            </div>
        </div>
        

        <!-- CARD ÚNICA -->
        <div class=" p-1 md:p-8">

            <!-- DATOS GENERALES -->
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-4 pb-2 border-b border-neutral-300">
                <div>
                    <p class="text-xs uppercase text-slate-600">Referencia o Razon</p>
                    <p class="font-semibold text-slate-900">{{ odt.titulo }}</p>
                </div>

                <div>
                    <p class="text-xs uppercase text-slate-600">Parte del equipo</p>
                    <p class="font-semibold text-slate-900">{{ odt.parte_equipo }}</p>
                </div>

                <div class="md:col-span-2">
                    <p class="text-xs uppercase text-slate-600">Descripción del trabajo</p>
                    <p class="text-slate-800 whitespace-pre-line">{{ odt.descripcion }}</p>
                </div>
            </div>

            <!-- MAQUINARIA -->
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-4 pb-2 border-b border-neutral-300">
                <div>
                    <p class="text-xs uppercase text-slate-600">Línea</p>
                    <p class="font-semibold">{{ odt.maquinaria.tipo.nombre }}</p>
                </div>
                <div>
                    <p class="text-xs uppercase text-slate-600">Equipo</p>
                    <p class="font-semibold">{{ odt.maquinaria.nombre }}</p>
                </div>
                <div>
                    <p class="text-xs uppercase text-slate-600">Código</p>
                    <p class="font-semibold">{{ odt.maquinaria.codigo }}</p>
                </div>
                
                <div>
                    <p class="text-xs uppercase text-slate-600">Estado máquina</p>
                    <p class="font-semibold">{{ odt.maquinaria.get_estado_display }}</p>
                </div>
            </div>

            <!-- FECHAS -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 pb-2 border-b border-neutral-300">
                <div>
                    <p class="text-xs uppercase text-slate-600">Fecha programada</p>
                    <p class="font-semibold">
                        {{ odt.fecha_programada|date:"d/m/Y H:i"|default:"—" }}
                    </p>
                </div>
                <div>
                    <p class="text-xs uppercase text-slate-600">Inicio</p>
                    <p class="font-semibold">
                        {{ odt.fecha_inicio|date:"d/m/Y H:i"|default:"—" }}
                    </p>
                </div>
                <div>
                    <p class="text-xs uppercase text-slate-600">Término</p>
                    <p class="font-semibold">
                        {{ odt.fecha_termino|date:"d/m/Y H:i"|default:"—" }}
                    </p>
                </div>
            </div>

            <!-- ARCHIVO -->
            <div class="mb-10">
                <p class="text-xs uppercase pb-4 text-slate-600">Imagen del equipo con falla</p>
                {% if odt.archivo_informe %}
                    <a href="{{ odt.archivo_informe.url }}" target="_blank"
                       class="text-white px-4 py-2  rounded-full  font-medium bg-slate-900">
                        Ver archivo adjunto
                    </a>
                {% else %}
                    <p class="text-slate-600 italic">No adjunto</p>
                {% endif %}
            </div>
            <p class="text-slate-600   pb-2 border-b border-neutral-300 font-primary mb-4">Personal Administrativo</p>
            <!-- RESPONSABLES -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                
                <!-- CREADO -->
                <div class="text-center">
                    <p class="text-xs uppercase text-slate-600 mb-2">Solicitado por</p>
                    {% if odt.creado_por %}
                        {% if odt.creado_por.imagen %}
                            <img src="{{ odt.creado_por.imagen.url }}"
                                 class="w-20 h-20 mx-auto rounded-full object-cover mb-2">
                        {% endif %}
                        <p class="font-semibold">{{ odt.creado_por.get_full_name }}</p>
                        {% if odt.creado_por.firma %}
                            <img src="{{ odt.creado_por.firma.url }}"
                                 class="h-12 mx-auto mt-2 object-contain">
                        {% endif %}
                    {% else %}
                        <p class="italic text-slate-600">No asignado</p>
                    {% endif %}
                </div>

                <!-- REVISADO -->
                <div class="text-center">
                    <p class="text-xs uppercase text-slate-600 mb-2">Revisado por</p>
                    {% if odt.revisado_por %}
                        {% if odt.revisado_por.imagen %}
                            <img src="{{ odt.revisado_por.imagen.url }}"
                                 class="w-20 h-20 mx-auto rounded-full object-cover mb-2">
                        {% endif %}
                        <p class="font-semibold">{{ odt.revisado_por.get_full_name }}</p>
                        {% if odt.revisado_por.firma %}
                            <img src="{{ odt.revisado_por.firma.url }}"
                                 class="h-12 mx-auto mt-2 object-contain">
                        {% endif %}
                    {% else %}
                        <p class="italic text-slate-600">Pendiente</p>
                    {% endif %}
                </div>

                <!-- APROBADO -->
                <div class="text-center">
                    <p class="text-xs uppercase text-slate-600 mb-2">Aprobado por</p>
                    {% if odt.aprobado_por %}
                        {% if odt.aprobado_por.imagen %}
                            <img src="{{ odt.aprobado_por.imagen.url }}"
                                 class="w-20 h-20 mx-auto rounded-full object-cover mb-2">
                        {% endif %}
                        <p class="font-semibold">{{ odt.aprobado_por.get_full_name }}</p>
                        {% if odt.aprobado_por.firma %}
                            <img src="{{ odt.aprobado_por.firma.url }}"
                                 class="h-12 mx-auto mt-2 object-contain">
                        {% endif %}
                    {% else %}
                        <p class="italic text-slate-600">Pendiente</p>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
