@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: "Anton", sans-serif;
    --font-secondary: 'Oswald', sans-serif;
    --font-dancy: 'Dancing Script', cursive;
    --font-licorice: 'Licorice', cursive;
}

/* Personaliza el color y grosor de la barra de scroll */
::-webkit-scrollbar {
    width: 10px;
    background: #03304e;
}

::-webkit-scrollbar-thumb {
    background: #03304e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #232ba1;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #07c264 #04273d;
}